* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

header h3,
header div {
    display: inline;
}

.card {
    border: 5px double black;
    width: 50%;
    margin: 0 auto;
}

#starting-page {
    text-align: center;
}

#question-page,
#end-page,
#high-score-page {
    display: none;
}